nav {
    background: -webkit-linear-gradient(top, rgb(45, 45, 45) 0, rgb(0, 0, 0) 100%);
    border-bottom: 1px solid #257579;
}
nav > ul{
    display : flex;
    list-style-type : none;
    margin-top: 0;
}


nav a{
    flex : 1 1 100%;
    padding : 0px;
    text-align : center;
    margin : 0%;
    display : inline;
    list-style : none;
    table-layout : auto;
    color : black;
}

nav a:hover{
    color : white;
}

nav p{
    font-size : 100%;
    text-transform : uppercase;
}

nav a{
    text-decoration : none;
}
.btn-primary{
    background-color: #FFd700;
}